* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #040c18;
}

.bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(28, 77, 147, 1) 0%, rgba(3, 7, 13, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(28, 77, 147, 1) 0%, rgba(3, 7, 13, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(28, 77, 147, 1) 0%, rgba(3, 7, 13, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(28, 77, 147, 1) 0%, rgba(3, 7, 13, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(28, 77, 147, 1) 0%, rgba(3, 7, 13, 1) 100%);
}

a {
  text-decoration: none;
}

.garis {
  background: linear-gradient(169deg, rgba(244, 0, 255, 1) 5%, rgba(255, 153, 0, 1) 78%);
  width: 5em;
  height: 0.3vw;
  margin-bottom: 1vw;
}
